
.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
}
.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    display: flex;
     column-gap: 6px;
}
.logo img{
    width: 1.5rem;
    height: 1.5rem;
}
.logo h1{
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}
.nav_item{
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer ;
}
.nav_icons{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    cursor: pointer;
}
.nav_item span i{
    font-size: 1.4rem;
    color: var(--primary-color);

}
.cart__icon,
 .fav__icon{
position: relative;
color: #121312;
}
   .fav__icon i, 
    .cart__icon i{
        font-size: 1.8rem !important;
    }

.badge{
    position: absolute;
    top: 25%;
    right: -8%;
    width: 15px;
    height: 15px;
    content: "";
    background: var(--primary-color);
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 0.7rem;
    z-index: 10;
}
.nav_icons .profile img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}
.nav_icons .profile{
    position: relative; 
    z-index: 9;
}
.nav_icons .profile .profile_actions{
    position: absolute;
    top: 95%;
    left: 0;
    width: 150px;
    z-index: 10;
    padding: 15px;
    align-items: center;
    flex-direction: column;
    background: var(--card-bg-01);
    line-height: 30px;
    cursor: pointer;
    display: none;
    
}
.show_profileActions{
    display: block;
}
.mobile_menu{
    font-style: 1.4rem;
    color: var(--primary-color);
    display: none;
}
.nav__active{
    font-weight: 700 !important ;
}
.stick__header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px;
    background: #e1c05c;
}
@media only screen and (max-width:768px){
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: none;
    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 230px;
        height: 30%;
        margin-top: 60px; 
        background: #fff;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .active_menu{
        display: block;
    }
    .mobile_menu{
        display: block;
    }
    .mobile__menu span i{
        font-size: 1.1rem !important;
    }
    .logo img{
        width: 1rem;
        height: 1rem;
    }
    .logo h1{
        font-size: 1rem;
    }
    .fav__icon i, 
    .cart__icon i{
        font-size: 1.8rem !important;
    }
    .nav_icons span img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .header{
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
}